.brand-text {
    display: none !important;
}

.brand-link .brand-image {
    float: none !important;
    max-height: 50px !important;
    box-shadow: none !important;
    width: 190px !important;
}

.btn {
    border-radius: 4px !important;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #E84618 !important;
}

.btn-primary {
    background-color: #E84618 !important;
    border-color: #E84618 !important;
    color: white !important;
}

#content > div > div.col-lg-9.col-12 > div > div > div > div.card-body > table > tbody > tr > td:nth-child(2) > div > a.btn.btn-xs.btn-success.addlink {
    margin-right: 5px !important;
}